
:root{ /*Declaracion de variables css*/
    --oscuro: #505050;
    --natural: green;
    --claro: white;
    --sm: 16px;
    --md: 20px;
    --lg: 24px;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

/* Esta clase contiene al titulo: */
/* top,bottom,left,right */
.container{ 
    margin: 4px 8px 12px 8px; /*Top, Right, Bottom, Left*/
    /*margin: 4px 8px; (Top y Bottom , Right-Left) */
    padding-top: 12px;
    padding-bottom: var(--sm);
    background-color: #3333;
    border: 4px solid blue;
    border-radius: 16px 0px 16px 0px;
}

h1{
    color: var(--oscuro);
}

.container-big{
    display: flex;
    justify-content: space-around;
}

.container-message{
    background-color: #808080;
    border-radius: 8px;
    width: 300px; /* Ancho */
    margin: 8px;
}

.mensaje-01{
    color: white;
    font-size: 20px;
}

.mensaje-02{
    color: white;
    font-size: 20px;
}

.mas-externo{
    display: flex;
    justify-content: center;
}

.externo{
    display: grid;
    width: 400px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 
}

.interno{
    color: var(--oscuro);
    font-weight: bold;
}

.externo .interno:nth-child(2n){
    background-color: var(--natural);
}