:root{ /*Declarando variables css*/
    --white: #f8f8f8;
    --black: #000000;
    --very-light-gray: #474747;
    --text-input:#f7f7f7;
    --hospital-green: #abd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-container{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid var(--very-light-gray);
}

.navbar-left{
    margin-left: 60px;
}

.navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a{
    text-decoration: none;
    color: var(--very-light-gray);
    font-size: var(--lg);
    font-weight: bold;
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
}

/*Hover nos ayuda a dar efecto al pasar el mouse por encima*/
.navbar-left ul li a:hover{
    text-decoration: none;
    color: var(--hospital-green);
    border: 2px solid var(--hospital-green);
}

.navbar-right{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-right: 60px; 
}

.max-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid blue;
    border-right: 16px dashed blue;
}

.chess-title{
    background-image: linear-gradient(180deg,#abd9b2,#ffffff);
    font-size: 24px;
    margin: 12px 0 0 0;
}

.chess-subtitle{
    font-size: 16px;
}

.tablero{ /* Esta clase padre */
    display: grid;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.item-i{ /*Nota: esta clase es hija de tablero pero es madre de item*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.item-p{ /* Esta clase tambien es hija de tablero pero es madre de item*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Dentro de la clase padre item-i cada hijo impar(2n+1) se pinta de negro*/
/* Lo logramos gracias a la clase nth-child*/
.item-i .item:nth-child(2n+1){
    background-color: black;
}

/* Dentro de la clase padre item-p cada hijo par(2n) se pinta de negro*/
.item-p .item:nth-child(2n){
    background-color: black;
}

