
.container #gatito{

    width: 800px;

}

.container #estambre{

    width: 180px;

}

/* POSICIONAMIENTO: nos permite colocar un elemento donde queramos por medio de coordenadas*/

/*La imagen que va de fondo es la relativa*/
#gatito{
    position: relative;
    z-index: 4;
}

/*La imagen que va encima es la absoluta que se mueve de forma relativa a la imagen de fondo*/
#estambre{
    position: absolute;
    top: 360px; /* hay 360 pixeles de arriba hacia abajo */
    right: 800px; /* hay 800 pixeles de derecha hacia la izquierda*/
    z-index: 5;
}
